* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-image: url(../imagenes/back3.png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
.barra2 {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    justify-items: center;
    height: 30px;
}

.barra2 a {
    text-decoration: none;
    color: #adadad; 
    transition: color 0.3s; 
}

.barra2 a:hover {
    color: #1a4778; 
}
.containers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100vh; /* Ocupa toda la altura de la ventana */
    align-items: center; /* Centra verticalmente */
    justify-items: center; /* Centra horizontalmente */
}

.ej1 {
    padding: 42px; /* 60px - 30% */
}

.ej1 .card1 {
    width: 287px; /* 410px - 30% */
    height: 511px; /* 730px - 30% */
    border-radius: 21px; /* 30px - 30% */
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
    padding: 28px; /* 40px - 30% */
    text-align: center; /* Centra texto en card */
}

.ej1 .card1 img {
    width: 231px; /* 330px - 30% */
    height: 223px; /* 319px - 30% */
    border-radius: 21px; /* 30px - 30% */
}

.ej1 .card1 .datos_carga {
    margin-bottom: 16px; /* 23px - 30% */
}

.ej1 .card1 .carga {
    font-size: 42px; /* 60px - 30% */
    font-weight: bolder;
    color: #6D25B9;
    margin-bottom: 6px; /* 8px - 30% */
}

.ej1 .card1 .gigas {
    font-size: 12.6px; /* 18px - 30% */
    color: grey;
}

.ej1 .card1 .lista_archivos {
    font-size: 15.4px; /* 22px - 30% */
    color: black;
    list-style: none;
    margin-bottom: 28px; /* 40px - 30% */
}

.ej1 .card1 .lista_archivos li {
    margin-bottom: 2px; /* 3px - 30% */
}

.ej1 .card1 button {
    height: 37px; /* 53px - 30% */
    width: 92px; /* 131px - 30% */
    border-radius: 14px; /* 20px - 30% */
    color: white;
    background-color: #6D25B9;
    font-weight: bolder;
    font-size: 12.6px; /* 18px - 30% */
    margin: 0 auto; /* Centra horizontalmente */
    display: block; /* Hace que el margen funcione */
    border: none; /* Estilo de borde */
}

.ej2 {
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    height: 100%; /* Asegura que ocupa el 100% de la altura */
}

.ej2 .card2 {
    width: 304.5px; /* 609px - 50% */
    height: 524px; /* 1048px - 50% */
    margin: 0 auto;
    padding: 40px; /* 80px - 50% */
    border: 1px solid black;
    text-align: center; /* Centra texto en card */
}

.ej2 .card2 img {
    width: 158.5px; /* 317px - 50% */
    height: 172px; /* 344px - 50% */
    margin-bottom: 25px; /* 50px - 50% */
}

.ej2 .card2 .info {
    margin-bottom: 25px; /* 50px - 50% */
}

.ej2 .card2 h2 {
    font-size: 16px; /* 32px - 50% */
    margin-bottom: 8.5px; /* 17px - 50% */
}

.ej2 .card2 p {
    font-size: 11px; /* 22px - 50% */
    font-weight: lighter;
    color: rgba(162, 169, 173, 1);
    margin-bottom: 8.5px; /* 17px - 50% */
}

.ej2 .card2 button {
    width: 181px; /* 362px - 50% */
    height: 40px; /* 80px - 50% */
    border-radius: 21.5px; /* 43px - 50% */
    color: white;
    background-color: rgba(242, 177, 74, 1);
    font-size: 14px; /* 28px - 50% */
    font-weight: bold;
    border: none; /* Estilo de borde */
}

.ej3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px; /* 60px - 20% */
}

.ej3 .contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 390.4px; /* 488px - 20% */
    height: 420.8px; /* 526px - 20% */
    background-color: rgba(164, 71, 110, 1);
}

.ej3 .contenedor .card3 {
    width: 326.4px; /* 408px - 20% */
    height: 376px; /* 470px - 20% */
    margin: auto;
    background-color: white;
    text-align: center; /* Centra texto en card */
}

.ej3 .contenedor .card3 img {
    width: 200px; /* 250px - 20% */
    height: 200px; /* 250px - 20% */
    margin-bottom: 24px; /* 30px - 20% */
}

.ej3 .contenedor .card3 h2 {
    font-size: 16px; /* 20px - 20% */
    color: rgb(83, 83, 83);
    margin-bottom: 4px; /* 5px - 20% */
}

.ej3 .contenedor .card3 p {
    color: rgb(156, 156, 156);
    margin-bottom: 35px; /* Espaciado */
}

.ej3 .contenedor .card3 button {
    background-color: rgba(238, 104, 161, 1);
    color: white;
    width: 326.4px; /* 408px - 20% */
    height: 44px; /* 55px - 20% */
    border: none; /* Estilo de borde */
    font-size: 17.6px; /* 22px - 20% */
}
