* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: grey;
}

html, body {
    height: 100%; /* Asegura que el body ocupe toda la altura de la pantalla */
    overflow: hidden; /* Evita el desplazamiento */
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 25px;
}

p {
    font-size: 15px;
}

body {
    background-color: rgb(255, 255, 255);
}

.barra2 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    margin-top: 20px;
    background-color: white;
}

.barra2 a {
    text-decoration: none;
    transition: color 0.3s;
}

.barra2 a:hover {
    color: #ff0000; 
}

main {
    padding: 20px;
    margin: 0 auto; /* Centra el main */
    height: calc(100% - 80px); /* Ajusta la altura para que se ajuste al espacio visible */
    overflow: auto; /* Permite el desplazamiento interno si es necesario */
}

.cont {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100%; /* Ocupa todo el espacio disponible en el main */
}

.g2 {
    
    grid-column: 1/2;
    grid-row: 1/2;
}

.g3 {
    background-color: cornflowerblue;
    grid-column: 2/4;
    grid-row: 1/2;
}

.g4 {
    grid-column: 2/4;
    grid-row: 2/4;
}

.g5 {
    background-color: cornflowerblue;
    grid-column: 1/2;
    grid-row: 2/4;
}
