* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: grey;
}

html, body {
    height: 100%;
    overflow: auto; /* Cambiado a auto */
}

h1 {
    font-size: 250px;
    font-weight: 100;
}

h2 {
    font-size: 25px;
}

p {
    font-size: 15px;
}

body {
    background-color: rgb(255, 255, 255);
}

.barra2 {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
}

.barra2 a {
    text-decoration: none;
    color: #adadad; /* Color para enlaces */
    transition: color 0.3s; /* Efecto de transición */
}

.barra2 a:hover {
    color: #ff0000; /* Color más oscuro al pasar el ratón */
}

main {
    padding: 0 40px 0 60px;
    height: calc(100% - 80px); /* Asegúrate que esto coincide con la altura de la barra */
    overflow: auto;
}

article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%; /* Ocupa el 100% del espacio de main */
}

article .c1 {
    display: flex; /* Establece el contenedor como flex */
    flex-direction: column; /* Coloca los hijos en una columna */
    justify-content: center; /* Centra verticalmente */
    height: 100%; /* Asegura que ocupe todo el espacio disponible */
}

article .c1 p {
    width: 500px;
}

.pelis {
    display: grid;
    grid-template-rows: repeat(3, 1fr); /* Manteniendo filas */
    gap: 20px; /* Espacio entre elementos */
    margin-top: 20px; /* Ajusta este valor según lo que necesites */
}

.pelis section {
    padding: 20px; /* Espaciado interno */
    display: flex; /* Establece el contenedor como flex */
    flex-direction: column; /* Coloca los hijos en una columna */
    justify-content: center; /* Centra verticalmente el contenido */
    height: 100%; /* Asegura que ocupe todo el espacio disponible */
}

.pelis p {
    font-size: 18px;
    text-align: left; /* Alinea el texto a la izquierda */
}
